html, body {
    background: orangered;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4em;
    margin-left: -4em;
    width: 8em;
    height: 8em;
    background-color: transparent;
    transform: rotate(-90deg);
}

.circle {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -.5em;
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 100%;
    transform-origin: .5em 4em;
}

.circle:nth-child(1) {
    animation: move 1s linear infinite;
}

.circle:nth-child(2) {
    animation: move 1s linear .1s infinite;
}

.circle:nth-child(3) {
    animation: move 1s linear .2s infinite;
}

.circle:nth-child(4) {
    animation: move 1s linear .3s infinite;
}

.circle:nth-child(5) {
    animation: move 1s linear .4s infinite;
}


@keyframes move {
    0% {
        box-shadow: 0 0 .025em .025em white;
    }
    100% {
        transform: rotateY(360deg) rotateZ(360deg);
        box-shadow: 0 0 .025em .025em white;
    }
}
h1{
  color: black;
  text-align: center;
  font-size: 75px;
  font-family: "Comic Sans Ms", sans-serif;
}
$cube-size: 80; //You can change this
$animation-duration: 3.7s;
$easing: cubic-bezier(0.645, 0.045, 0.355, 1);
$base-matrix: matrix(0.9, 0.5, 0, 1, 0, 0);

@function base($n) {
  @return $n * ($cube-size - 1px);
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  &.top    { animation: $animation-duration top $easing infinite;  }
  &.bottom { animation: $animation-duration bottom $easing infinite;  }
}

$radial-map: (
  'n': (
    x1: base(1),
    y1: base(-1),
    x2: base(1),
    y2: base(-1),
    x3: base(2),
    y3: base(-2),
    x4: base(2),
    y4: base(-2),
  ),
  's': (
    x1: base(-1),
    y1: base(1),
    x2: base(-1),
    y2: base(1),
    x3: base(-2),
    y3: base(2),
    x4: base(-2),
    y4: base(2),
  ),
  'e': (
    x1: base(1),
    y1: 0,
    x2: base(2),
    y2: 0,
    x3: base(2),
    y3: 0,
    x4: base(1),
    y4: 0,
  ),
  'w': (
    x1: base(-1),
    y1: 0,
    x2: base(-2),
    y2: 0,
    x3: base(-2),
    y3: 0,
    x4: base(-1),
    y4: 0,
  ),
  'ne': (
    x1: base(2),
    y1: base(-1),
    x2: base(3),
    y2: base(-1),
    x3: base(4),
    y3: base(-2),
    x4: base(3),
    y4: base(-2),
  ),
  'se': (
    x1: 0,
    y1: base(1),
    x2: base(1),
    y2: base(1),
    x3: base(0),
    y3: base(2),
    x4: base(-1),
    y4: base(2),
  ),
  'sw': (
    x1: base(-2),
    y1: base(1),
    x2: base(-3),
    y2: base(1),
    x3: base(-4),
    y3: base(2),
    x4: base(-3),
    y4: base(2),
  ),
  'nw': (
    x1: base(0),
    y1: base(-1),
    x2: base(-1),
    y2: base(-1),
    x3: base(0),
    y3: base(-2),
    x4: base(1),
    y4: base(-2),
  )
);

@each $position, $points in $radial-map {
  .#{$position} {
    animation: $animation-duration $position $easing infinite;
  }
  @keyframes #{$position} {
    0%, 83.33%, 100% {
      transform: $base-matrix translate(map-get($points, x1), map-get($points, y1));
    }
    16.66% {
      transform: $base-matrix translate(map-get($points, x2), map-get($points, y2));
    }
    33.33%, 50% {
      transform: $base-matrix translate(map-get($points, x3), map-get($points, y3));
    }
    66.66% {
      transform: $base-matrix translate(map-get($points, x4), map-get($points, y4));
    }
  }
}

.cube {
  position: absolute;
  top: 45%;
  left: 45%;
  width: $cube-size + 0px;
  height: $cube-size + 0px;
  margin: 0 auto;
  background: #d33d39;
  transform: $base-matrix;  

  &:before, &:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  &:before {
    background: #279099;
    transform: matrix(1, -1, 1, 0, $cube-size / 2, -$cube-size);
  }
  
  &:after {
    background: #e59b2a;
    transform: matrix(1, -1, 0, 1, $cube-size, -$cube-size / 2);
  }
}

@keyframes top {
  0%, 33.33%, 100% {
    transform: translate(0, base(-1));
  }
  50%, 83.33% {
    transform: translate(0, base(-2));
  }
}
@keyframes bottom {
  0%, 33.33%, 100% {
    transform: translate(0, base(1));
  }
  50%, 83.33% {
    transform: translate(0, base(2));
  }
}

html {background-color: #262626;}
html, body {height: 100%;overflow: hidden;}


   html, body {
  background: #00CCFF;
  overflow: hidden;
  height: 100%;
}

#container  {
  justify-content: center;
  text-align: justify;
  margin: 0 50px;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  color: white;
  text-align: center;
  margin: 20px auto -20px;
}

.crayon {
  display: inline-block;
  bottom: -250px;
  position: relative;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.crayon:hover {
  cursor: pointer;
  bottom: -100px;
}

#container:after {
  content: '';
  width: 100%;
  display: inline-block;
}

.top {
  border-left: 25px solid transparent;
	border-right: 25px solid transparent;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 10px;
  margin: auto;
}

.ring {
  height: 15px;
  width: 68px; 
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin: auto;
}

.body {
  width: inherit;
}

.first {
  height: 22px;
}

.second {
  height: 12px;
}

.third {
  height: 400px;
}

.stripe {
  height: 12px;
  width: inherit;
  background: #191919;
}


/**********************
Yellow
**********************/

.yellow .top {
  border-bottom: 90px solid #FFCC00;
}

.yellow .ring {
  background: #FFCC00;
  border-top: 2px solid gold;
}

.yellow .body {
  background: #FFD633;
}


/**********************
Orange
**********************/

.orange .top {
  border-bottom: 90px solid #FF6600;
}

.orange .ring {
  background: #FF6600;
  border-top: 2px solid #FF7519;
}

.orange .body {
  background: #FF8533;
}


/**********************
Red
**********************/

.red .top {
  border-bottom: 90px solid #E60000;
}

.red .ring {
  background: #E60000;
  border-top: 2px solid #FF1919;
}

.red .body {
  background: #EA3030;
}


/**********************
Purple
**********************/

.purple .top {
  border-bottom: 90px solid #660066;
}

.purple .ring {
  background: #660066;
  border-top: 2px solid purple;
}

.purple .body {
  background: #853385;
}


/**********************
Blue
**********************/

.blue .top {
  border-bottom: 90px solid #0000CC;
}

.blue .ring {
  background: #0000CC;
  border-top: 2px solid #1919FF;
}

.blue .body {
  background: #3333D6;
}


/**********************
Green
**********************/

.green .top {
  border-bottom: 90px solid #009900;
}

.green .ring {
  background: #009900;
  border-top: 2px solid #19A319;
}

.green .body {
  background: #33AD33;
}

h1{
  color: black;
  text-align: center;
  font-size: 55px;
  font-family: "Comic Sans Ms", sans-serif;
}
